# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build files
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db